<div ng-hide="{{loggedInBool}}" important>
    <h1>You aren't logged in yet! Please <a href="#/login">login</a> to view this page.</h1>
</div>
<div ng-show="{{loggedInBool}}" important>
    <h1>Hello {{currentUser}} ! </h1>
    <br />
    <div ng-show="{{userType=='customer'}}">
        <div ng-hide="confirmationPage">
            <h1>Search Room</h1>
            <div >
                <!--ng-hide="hideForm"-->
                <form ng-submit="submit()">
                    <div class="container">
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <select class="form-control" ng-model="location" ng-required="true">
                                <option value="Atlanta" selected="selected">Atlanta</option>
                                <option value="Charlotte">Charlotte</option>
                                <option value="Savannah">Savannah</option>
                                <option value="Orlando">Orlando</option>
                                <option value="Miami">Miami</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="startDatePicker">Start Date:</label>
                            <div class='input-group date' id='startDatePicker'>
                                <input type="text" class="form-control" placeholder="Start Date" required>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDatePicker">End Date:</label>
                            <div class='input-group date' id='endDatePicker'>
                                <input type="text" class="form-control" placeholder="End Date" required>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <h2>{{error}}</h2>
                        <button type="submit" class="btn btn-default">Search for Available Rooms</button>
                    </div>
                </form>
            </div><!--Toggles the view of the form-->
            <div ng-show="hideForm">
                <h1>Rooms available from {{checkIn | date:'yyyy-MM-dd'}} to {{checkOut | date: 'yyyy-MM-dd'}} in {{location}}:</h1>
                <form ng-submit="bookRooms()">
                    <table style="width:100%">
                        <tr>
                            <th>Select Room</th>
                            <th>Room Number</th>
                            <th>Capacity </th>
                            <th>Room Type </th>
                            <th>Room Price </th>
                            <th>Extra Bed Price</th>
                            <th>Select Extra Bed</th>
                        </tr>
                        <tr  ng-repeat="room in roomsAvailable">
                            <td>
                                <input name="roomSelection" type="checkbox" ng-value="room" ng-model="selectedRooms[room.location+room.room_number]"/>
                            </td>
                            <td>{{room.room_number}}</td>
                            <td>{{room.capacity}} </td>
                            <td>{{room.room_type}} </td>
                            <td>{{room.cost}} </td>
                            <td>{{room.extra_bed_price}}</td>
                            <td>
                                <input name="extraBedSelection" type="checkbox" ng-value="extraBed" ng-model="extra_beds[room.location+room.room_number]" /> 
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <b>Total cost:</b> <span> ${{total_cost}}</span> <a class="btn btn-primary" href="javascript:void(0);" ng-click="updateTotalCost()">Update total cost</a><br /><br />
                    <b>Select credit card:</b> 
                    <select ng-model="cardNumber" ng-required="isRequired" >
                        <option ng-model="blank" ng-repeat="card in creditCards" value="{{creditCards[$index].card_number}}" >{{creditCards[$index].card_number}}
                        </option>
                    </select>
                    <br />
                    No credit card? Add one <a href="#/payment">here</a>.
                    <button type="submit" class="btn btn-default">Book these rooms</button>
                </form>
            </div> <!--available room selection div-->
            

        </div><!--Toggles showing the search rooms page-->
        <div ng-show="confirmationPage">
            <h1>Confirmation</h1><br />

            <b>Confirmation Reservation ID:</b> {{confirmationData.id}}
        </div> <!--confirmation page div-->

<a href="#/portal">Return to the portal page</a>
    </div><!--Toggles the view based on if you're a customer-->
</div><!--Toggles the view based on if you're logged in-->
<div ng-show="{{userType=='manager'}}">
    Only customers can search for and reserve rooms. Please login to a customer account to access this page.
</div>
